/* fonts */
@font-face {
    font-family: credits;
    src: url(../fonts/Uni_acc.ttf);
}

/* boostrap */
.container-fluid{
  padding: 0;
}

/* navbar */
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 250px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 99999; /* Stay on top */
    top: 0;
    left: -250px;
    background: #111 url('../img/menu_image.png'); /* Black*/
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.navbar-icon{
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 999;
}

.navbar-icon i{
  color: #ffcc33;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
}

#main-homepage {
    transition: margin-left .5s;
    margin-bottom: 300px;
}


/* Common */
body{
  background-color: #000;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Open Sans', sans-serif;
  /*font-family: 'Roboto', sans-serif;*/
  /*font-family: 'Open Sans Condensed', sans-serif;*/
}

h2{
  font-size: 60px;
  color: #ffffff;
  margin-bottom: 10px;
}

h4{
  font-size: 36px;
  color: #FFCC33;
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
}

p{
  font-family: 'Roboto', sans-serif;
}

.secondary{
  font-size: 28px !important;
  color: #FFCC33 !important;
}

a:hover{
  text-decoration: none;
}

button:hover {
    cursor: pointer;
}

button:focus {
    outline: none;
}

.align-left{
  align-items: flex-start !important;
}

/* Preloader */

.loading-container {
  position: fixed;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Roboto;
  z-index: 9999999;
}

.loading-page {
  background: #0d0d0d;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.loading-page .counter {
  text-align: center;
}
.loading-page .counter p {
  font-size: 40px;
  font-weight: 100;
  color: #ffcc33;
}
.loading-page .counter h1 {
  color: white;
  font-size: 60px;
  margin-top: -10px;
}
.loading-page .counter hr {
  background: #ffcc33;
  border: none;
  height: 1px;
}
.loading-page .counter {
  position: relative;
  width: 200px;
}
.loading-page .counter h1.abs {
  position: absolute;
  top: 0;
  width: 100%;
}
.loading-page .counter .color {
  width: 0px;
  overflow: hidden;
  color: #f60d54;
}

/* CUSTOM BTN */
.custom-btn{
  width: 175px;
  height: 50px;
  border: 3px solid #FFCC33;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #ffcc33;
  background: none;
}

.custom-btn .btn-icon{
  width: 40%;
  display: flex;
  justify-content: center;
}

.custom-btn .btn-content{
  width: 60%;
  display: flex;
  justify-content: flex-start;
}

.custom-btn .btn-content p{
  margin: 0;
}

/* Carousel */
.tab-content{
  width: 100%;
}

.carousel{
  width: 100%;
  margin: 100px 0px;
}

.carousel .item{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hide{
  display: none !important;
}

.carousel .item:focus{
  outline: none;
}

.carousel .item .img-carousel{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  padding: 0px 20px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.carousel .item .img-carousel img{
  height: 300px;
  transition: 0.2s ease;
}

.carousel .item .text-carousel p{
  z-index: 2;
  color: white;
  font-size: 48px;
  line-height: 48px;
  width: 50%;
  text-align: left;
  position: relative;
  top: -150px;
}

.carousel .slick-current .img-carousel{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

.carousel .slick-current .img-carousel img{
  height: 300px;
}

.carousel .slick-current .text-carousel p{
  z-index: 2;
  color: white;
  font-size: 48px;
  line-height: 48px;
  width: 50%;
  text-align: left;
  position: relative;
  top: -150px;
}

.carousel-nav{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-nav .carousel-links{
  width: 100%;
}

.carousel-nav .carousel-links{
  list-style: none;
  height: 50px;
  display: flex;
  align-items: center;
}

.carousel-nav .carousel-links a{
  color: #ffffff;
  text-transform: uppercase;
  font-size: 28px;
  cursor: pointer;
}
.carousel-nav .carousel-links:first-child{
  justify-content: flex-end;
  border-right: 2px solid #ffcc33;
  padding-right: 15px;
}

.carousel-nav .carousel-links:last-child{
  padding-left: 15px;
}

/* introduction */

.main-index{
  margin-bottom: 250px;
}

#scene{
  background-image: url('../img/index_background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#scene-1{
  background-image: url('../img/scene-2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

#scene-2{
  background-image: url('../img/scene-1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

#scene-3{
  background-image: url('../img/scene-3.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 0;
}

.introduction-container {
  height: 100vh;
  width: 100%;
}

.introduction-container .introduction-content{
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.introduction-container .introduction-content .introduction-title{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  text-align: right;
  font-size: 24px;
  line-height: 24px;
  color: #fff;
  margin-right: 20px;
  margin-top: 40px;
}

.introduction-container .introduction-content .introduction-title span{
  font-size: 18px;
  line-height: 18px;
  color: #fff;
}

.introduction-container .introduction-content .introduction-footer{
  height: 40%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: #fff;
  /*background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 60%,
    rgba(0, 0, 0, 0) 80%,
    rgba(0, 0, 0, 0) 100%
    );*/
}

.introduction-container .introduction-content .introduction-footer .credits{
  width: 60%;
  display: flex;
  padding-bottom: 20px;
}

#index-footer{
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: -1;
  height: 250px;
  background-color: #000;
}

.index-footer-container .index-footer-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 250px;
}

.index-footer-container .index-footer-content img{
  width: 150px;
  height: auto;
  margin-bottom: 50px;
}

.credits p{
  font-family: credits;
  font-size: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  color: #fff;
}

/* SIPNOSIS */
#sipnosis{
  background: #000 url('../img/Dominican_Republic_map.png');
  background-repeat: no-repeat;
  background-position: left;
}

/* MOVIE */
#movie{
  background: url('../img/movie_background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* CREW MEMBER */
#crew_member{
  background-color: #000;
}

#crew_member .content, #awards .content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#crew_member .text-carousel{
  position: relative;
  left: 30px;
  top: 10px;
  transition: 0.5s ease;
}

#crew_member .text-carousel p{
  margin: 0;
}

#crew_member .text-carousel:hover{
  position: relative;
  left: 30px;
  top: 20px;
}

#crew_member .container .content .carousel-nav {
  position: absolute;
  margin-top: 300px;
}

/* Movie */
#movie .content{
  justify-content: flex-end;
}

#movie .col-left{
  justify-content: flex-end;
  align-items: flex-end;
}

#movie .title_movie, #movie .col-text{
  margin-bottom: 60px;
  text-align: right;
  width: 100%;
  color: #fff;
}

#button-movie{
  white-space: nowrap;
  width: 250px;
}

#button-movie .btn-icon{
  width: 10%;
}

/* Out Vision */
#our_vision{
  background-color: #000;
}

/* Trailer VC */
#trailer_vc{
  background: #000 url('../img/movie_background_2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#trailer_vc .col-right{
  justify-content: center;
  align-items: center;
}

#trailer_vc .custom-btn{
  border: 0;
  width: 100%;
  height: auto;
}

#voces_modal .modal{
  height: 100vw;
  width: 100vh;
}

#voces_modal .modal-dialog{
  margin: 0;
  max-width: 100%;
  width: 100%;
  height: 80%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0
}

#voces_modal .modal-content{
  width: 80%;
  height: 80%;
  border: 0;
  background-color: #000 !important;
}

#voces_modal .voces-modal-button{
  background-color: #000;
  color: #ffcc33;
  border: 0;
  padding: 0;
  text-align: right;
  position: relative;
  top: -30px;
}

#voces_modal iframe{
  width: 100%;
  height: 100%;
}

#trailer_vc .custom-btn i{
  font-size: 90px;
}


.container-video{
  padding: 0 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container-video .video-caption, .container-video .starting, .container-video .directed{
    color: #939393;
}

.container-video .rating{
  width: 90%;
  color: #ffcc33;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.container-video .rating img{
  width: auto;
  height: 25px;
}

.container-video .sub{
  font-size: 14px;
  line-height: 14px;
  color: #ffcc33;
  margin-left: 10px;
}

/* Awards */
#awards{
  background-color: #121010;
}

#awards .content .awards-badges{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}

#awards .content .awards-badges .center img{
  width: 100%;
}

#awards .content .awards-badges .right img, #awards .content .awards-badges .left img{
  width: 55%;
}

/* STRUCTURE */

.content{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 150px;
  padding-bottom: 150px;
}

.content .col-left{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.content .col-left .col-text{
  width: 60%;
  color: #939393;
  margin-bottom: 30px;
}

.content .col-center{
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.content .col-center .col-text{
  color: #939393;
  margin-bottom: 30px;
}

.content .col-right{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.content .col-right .img-1{
  width: 300px;
  height: 300px;
  max-width: 350px;
  max-height: 350px;
  background-image: url('../img/sipnosis_2.jpg');
  position: relative;
  background-size: cover;
  top: 20px;
}

.content .col-right .img-2{
  width: 350px;
  height: 250px;
  max-width: 350px;
  max-height: 250px;
  position: relative;
  left: 10%;
  top: -50px;
  background-image: url('../img/sipnosis_1.jpg');
  background-size: cover;
}

/* Credits */
#credits{
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: -1;
  height: 300px;
  background-color: #000;
}

.credits-container{
  margin: 50px 0;
}

.credits-content .image-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.credits-content .image-container i{
  color: #fff;
  margin: 0 10px;
  transition: 0.2s ease;
}

.credits-content .image-container #facebook:hover{
  color: #3b5998;
}

.credits-content .image-container #instagram:hover{
  color: #fb3958;
}

.credits-content .image-container #twitter:hover{
  color: #0084b4;
}

.credits-content .image-container img{
  width: 150px;
}

/* media queries */
@media screen and (max-width: 1024px) {
  .introduction-container .introduction-content .introduction-footer .credits p{
    font-size: 2rem;
    line-height: 2rem;
  }

  .content .col-right .img-1{
    width: 300px;
    height: 300px;
    max-width: 350px;
    max-height: 350px;
  }

  .content .col-right .img-2{
    width: 350px;
    height: 250px;
    max-width: 350px;
    max-height: 250px;
  }

}

@media screen and (max-width: 800px) {

  .content .col-right .img-1{
    width: 200px;
    height: 200px;
  }

  .content .col-right .img-2{
    width: 250px;
    height: 150px;
  }

}


@media screen and (max-width: 768px) {
  .introduction-container .introduction-content .introduction-footer .credits {
    width: 90%;
  }
  .introduction-container .introduction-content .introduction-footer .credits p{
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  .content{
    flex-direction: column;
  }
  .content .col-left{
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .content .col-right{
    width: 100%;
    align-items: center;
    margin-top: 70px;
  }
  .content .col-right .img-1 {
    width: 360px;
    height: 230px;
  }
  .content .col-right .img-2 {
    width: 300px;
    height: 150px;
  }
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px; }
    .sidenav a {font-size: 18px;}
    .introduction-container .introduction-content .introduction-footer .credits p{
      font-size: 1rem;
      line-height: 1rem;
    }
}
