/* fonts */
@font-face {
    font-family: credits;
    src: url(../fonts/Uni_acc.ttf);
}

/* boostrap */
.container-fluid{
  padding: 0;
}

/* navbar */
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.navbar-icon{
  position: absolute;
  top: 20px;
  left: 20px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
}


/* Common */
h2{
  font-size: 60px;
  color: #ffffff;
  margin-bottom: 10px;
}

button:hover {
    cursor: pointer;
}

button:focus {
    outline: none;
}

/* CUSTOM BTN */
.custom-btn{
  width: 175px;
  height: 50px;
  border: 3px solid #FFCC33;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #ffcc33;
  background: none;
}

.custom-btn .btn-icon{
  width: 40%;
  display: flex;
  justify-content: center;
}

.custom-btn .btn-content{
  width: 60%;
  display: flex;
  justify-content: flex-start;
}

.custom-btn .btn-content p{
  margin: 0;
}

/* introduction */

.introduction-container {
  height: 100vh;
  width: 100%;
  background-image: url('../img/index_background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.introduction-container .introduction-content{
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.introduction-container .introduction-content .introduction-title{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  text-align: right;
  margin-right: 20px;
  margin-top: 20px;
}

.introduction-container .introduction-content .introduction-footer{
  height: 35%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: #fff;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 60%,
    rgba(0, 0, 0, 0) 80%,
    rgba(0, 0, 0, 0) 100%
    );
}

.introduction-container .introduction-content .introduction-footer .credits{
  width: 60%;
  display: flex;
  padding-bottom: 20px;
}

.introduction-container .introduction-content .introduction-footer .credits p{
  font-family: credits;
  font-size: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  color: #939393;
}

/* SIPNOSIS */
#sipnosis{
  background: #000 url('../img/Dominican_Republic_map.png');
  background-repeat: no-repeat;
  background-position: left;
  padding-top: 100px;
}

/* MOVIE */
#movie{
  background: #000 url('../img/Dominican_Republic_map.png');
  background-repeat: no-repeat;
  background-position: left;
}

#movie h2, #movie .col-text{
  margin-bottom: 80px;
}

#button-movie{
  white-space: nowrap;
  width: 250px;
}

#button-movie .btn-icon{
  width: 10%;
}

/* STRUCTURE */

.content{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-bottom: 150px;
}

.content .col-left{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.content .col-left .col-text{
  width: 60%;
  color: #939393;
  margin-bottom: 30px;
}

.content .col-center{
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.content .col-center .col-text{
  color: #939393;
  margin-bottom: 30px;
}

.content .col-right{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.content .col-right .img-1{
  width: 300px;
  height: 300px;
  max-width: 350px;
  max-height: 350px;
  background-color: grey;
  background-image: url('../img/sipnosis_2.jpg');
  position: relative;
  top: 20px;
}

.content .col-right .img-2{
  width: 350px;
  height: 250px;
  max-width: 350px;
  max-height: 250px;
  background-color: blue;
  position: relative;
  left: 10%;
  top: -50px;
  background-image: url('../img/sipnosis_1.jpg');
}


/* media queries */
@media screen and (max-width: 1024px) {
  .introduction-container .introduction-content .introduction-footer .credits p{
    font-size: 2rem;
    line-height: 2rem;
  }

  .content .col-right .img-1{
    width: 300px;
    height: 300px;
    max-width: 350px;
    max-height: 350px;
  }

  .content .col-right .img-2{
    width: 350px;
    height: 250px;
    max-width: 350px;
    max-height: 250px;
  }

}

@media screen and (max-width: 800px) {

  .content .col-right .img-1{
    width: 200px;
    height: 200px;
  }

  .content .col-right .img-2{
    width: 250px;
    height: 150px;
  }

}


@media screen and (max-width: 768px) {
  .introduction-container .introduction-content .introduction-footer .credits {
    width: 90%;
  }
  .introduction-container .introduction-content .introduction-footer .credits p{
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  .content{
    flex-direction: column;
  }
  .content .col-left{
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .content .col-right{
    width: 100%;
    align-items: center;
    margin-top: 70px;
  }
  .content .col-right .img-1 {
    width: 360px;
    height: 230px;
  }
  .content .col-right .img-2 {
    width: 300px;
    height: 150px;
  }
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px; }
    .sidenav a {font-size: 18px;}
    .introduction-container .introduction-content .introduction-footer .credits p{
      font-size: 1rem;
      line-height: 1rem;
    }
}
