<div class="container-fluid" id="awards">
  <div class="container">
    <div class="content">
      <div class="col-center align-left">
        <h2>RECONOCIMIENTOS</h2>
        <h4>INTERNACIONALES</h4>
      </div>
      <div class="col-center">
        <div class="awards-badges">
          <div class="item left">
            <img src="/img/award-1.png" alt="Award 1" />
          </div>
          <div class="item center">
            <img src="/img/reconocimentos.png" alt="cast member 1" />
          </div>
          <div class="item right">
            <img src="/img/award-2.png" alt="Award 1" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
