<div class="container-fluid" id="awards">
  <div class="container">
    <div class="content">
      <div class="col-center align-left">
        <h2>RECONOCIMIENTOS</h2>
        <h4>INTERNACIONALES</h4>
      </div>
      <div class="col-center">
        <div class="carousel" id="carousel_cast">
          <div class="item">
            <div class="img-carousel">
              <img src="/img/reconocimentos.png" alt="cast member 1">
            </div>
          </div>
          <div class="item">
            <div class="img-carousel">
              <img src="/img/reconocimentos.png" alt="cast member 1">
            </div>
          </div>
          <div class="item">
            <div class="img-carousel">
              <img src="/img/reconocimentos.png" alt="cast member 1">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
