<div class="carousel">
  <div class="item">
    <div class="img-carousel">
      <img src="/img/cast-1.jpg" alt="cast member 1">
    </div>
    <div class="text-carousel">
      <p>Bryan Payano</p>
    </div>
  </div>
  <div class="item">
    <div class="img-carousel">
      <img src="/img/cast-1.jpg" alt="cast member 1">
    </div>
    <div class="text-carousel">
      <p>Bryan Payano</p>
    </div>
  </div>
  <div class="item">
    <div class="img-carousel">
      <img src="/img/cast-1.jpg" alt="cast member 1">
    </div>
    <div class="text-carousel">
      <p>Bryan Payano</p>
    </div>
  </div>
  <div class="item">
    <div class="img-carousel">
      <img src="/img/cast-1.jpg" alt="cast member 1">
    </div>
    <div class="text-carousel">
      <p>Bryan Payano</p>
    </div>
  </div>
  <div class="item">
    <div class="img-carousel">
      <img src="/img/cast-1.jpg" alt="cast member 1">
    </div>
    <div class="text-carousel">
      <p>Bryan Payano</p>
    </div>
  </div>
</div>
