<div class="container-fluid" id="credits">
  <div class="credits-container">
    <div class="credits-content">
      <div class="credits">
        <p>RAZANTE FILMS SRL Ã<br> LA RAZANTE kHANS GARCIA aMARCEL FONDEUR hINGRID CRUZ
        gJAIME GOMEZ <br>dDESIGNER NAME eEDITORS NAME f  DESIGNERS NAME g  CINEMATOGRAPHER
        p  EX PRODUCER 1 EX PRODUCER 2 j  PRODUCER ONE PRODUCER 2 m STORY WRITER
        o  SCREEN WRITER k  DIRECTOR NAME
        </p>
      </div>
      <div class="image-container">
        <div class="legal">
          <img src="../img/pg.svg" alt="">
        </div>
        <div class="social">
          <a href="#">
            <i class="fa fa-3x fa-facebook" aria-hidden="true" id="facebook"></i>
          </a>
          <a href="https://www.instagram.com/larasantemovie/" target="_blank">
            <i class="fa fa-3x fa-instagram" aria-hidden="true" id="instagram"></i>
          </a>
          <a href="#">
            <i class="fa fa-3x fa-twitter" aria-hidden="true" id="twitter"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
