<div class="container-fluid" id="crew_member">
  <div class="container">
    <div class="content">
      <div class="col-center align-left">
        <h2>Cast & Crew</h2>
        <h4>Nuestros héroes</h4>
      </div>
      <div class="col-center">
        <div class="carousel" id="carousel_cast">
          <div class="item">
            <div class="img-carousel">
              <img src="/img/raul.jpg" alt="cast member 1">
            </div>
            <div class="text-carousel">
              <p>Bryan Payano</p>
              <p class="secondary">as Raul</p>
            </div>
          </div>
          <div class="item">
            <div class="img-carousel">
              <img src="/img/carmelo.jpg" alt="cast member 1">
            </div>
            <div class="text-carousel">
              <p>Mario Nuñez</p>
              <p class="secondary">as Carmelo</p>
            </div>
          </div>
          <div class="item">
            <div class="img-carousel">
              <img src="/img/mildred.jpg" alt="cast member 1">
            </div>
            <div class="text-carousel">
              <p>Madeline Abreu</p>
              <p class="secondary">as Mildred</p>
            </div>
          </div>
          <div class="item">
            <div class="img-carousel">
              <img src="/img/vicente.jpg" alt="cast member 1">
            </div>
            <div class="text-carousel">
              <p>Richard Douglas</p>
              <p class="secondary">as Vicente</p>
            </div>
          </div>
        </div>
        <div class="carousel" id="carousel_crew">
          <div class="item">
            <div class="img-carousel">
              <img src="/img/hans.jpg" alt="cast member 1">
            </div>
            <div class="text-carousel">
              <p>Hans Garcia</p>
              <p class="secondary">Director</p>
            </div>
          </div>
          <div class="item">
            <div class="img-carousel">
              <img src="/img/jaime.jpg" alt="cast member 1">
            </div>
            <div class="text-carousel">
              <p>Jaime Gomez</p>
              <p class="secondary">D. Fotografia</p>
            </div>
          </div>
          <div class="item">
            <div class="img-carousel">
              <img src="/img/ingrid.jpg" alt="cast member 1">
            </div>
            <div class="text-carousel">
              <p>Ingrid Cruz</p>
              <p class="secondary">P. de Linea</p>
            </div>
          </div>
          <div class="item">
            <div class="img-carousel">
              <img src="/img/cast-1.jpg" alt="cast member 1">
            </div>
            <div class="text-carousel">
              <p>Marcel Fondeur</p>
              <p class="secondary">Guionista</p>
            </div>
          </div>
        </div>
      </div>
      <ul class="carousel-nav">
        <li class="carousel-links">
          <a class="carousel-link" id="carousel_cast_link" >Cast</a>
        </li>
        <li class="carousel-links">
          <a class="" id="carousel_crew_link" >Crew</a>
        </li>
      </ul>
    </div>
  </div>
</div>
