<div class="container-fluid" id="crew_member">
  <div class="container">
    <div class="content">
      <div class="col-center align-left">
        <h2>SIPNOSIS</h2>
        <h4>Subtitle</h4>
      </div>
      <div class="col-center">
        <div class="carousel" id="carousel_cast">
          <div class="item">
            <div class="img-carousel">
              <img src="/img/cast-1.jpg" alt="cast member 1">
            </div>
            <div class="text-carousel">
              <p>Bryan Payano</p>
            </div>
          </div>
          <div class="item">
            <div class="img-carousel">
              <img src="/img/cast-1.jpg" alt="cast member 1">
            </div>
            <div class="text-carousel">
              <p>Bryan Payano</p>
            </div>
          </div>
          <div class="item">
            <div class="img-carousel">
              <img src="/img/cast-1.jpg" alt="cast member 1">
            </div>
            <div class="text-carousel">
              <p>Bryan Payano</p>
            </div>
          </div>
          <div class="item">
            <div class="img-carousel">
              <img src="/img/cast-1.jpg" alt="cast member 1">
            </div>
            <div class="text-carousel">
              <p>Bryan Payano</p>
            </div>
          </div>
          <div class="item">
            <div class="img-carousel">
              <img src="/img/cast-1.jpg" alt="cast member 1">
            </div>
            <div class="text-carousel">
              <p>Bryan Payano</p>
            </div>
          </div>
        </div>
        <div class="carousel" id="carousel_crew">
          <div class="item">
            <div class="img-carousel">
              <img src="/img/cast-1.jpg" alt="cast member 1">
            </div>
            <div class="text-carousel">
              <p>Carousel 2</p>
            </div>
          </div>
          <div class="item">
            <div class="img-carousel">
              <img src="/img/cast-1.jpg" alt="cast member 1">
            </div>
            <div class="text-carousel">
              <p>Bryan Payano</p>
            </div>
          </div>
          <div class="item">
            <div class="img-carousel">
              <img src="/img/cast-1.jpg" alt="cast member 1">
            </div>
            <div class="text-carousel">
              <p>Bryan Payano</p>
            </div>
          </div>
          <div class="item">
            <div class="img-carousel">
              <img src="/img/cast-1.jpg" alt="cast member 1">
            </div>
            <div class="text-carousel">
              <p>Bryan Payano</p>
            </div>
          </div>
          <div class="item">
            <div class="img-carousel">
              <img src="/img/cast-1.jpg" alt="cast member 1">
            </div>
            <div class="text-carousel">
              <p>Bryan Payano</p>
            </div>
          </div>
        </div>
      </div>
      <ul class="carousel-nav">
        <li class="carousel-links">
          <a class="carousel-link" id="carousel_cast_link" >Cast</a>
        </li>
        <li class="carousel-links">
          <a class="" id="carousel_crew_link" >Crew</a>
        </li>
      </ul>
    </div>
  </div>
</div>
