<div class="container-fluid">
  <div class="introduction-container">

    <div class="introduction-content">
      <div class="introduction-title">
        <h1>LA RAZANTE</h1>
        <h5>UNA PELICULA DE HANS GARCIA</h5>
        <p>“ES MEJOR SER ODIADO POR LO QUE ERES QUE SER AMADO POR LO QUE NO ERES”
          <br>André Gide, escritor francés, Premio Nobel de Literatura en 1947</p>
      </div>
      <div class="introduction-footer">
        <div class="credits">
          <p>RAZANTE FILMS SRL Ã<br> LA RAZANTE kHANS GARCIA aMARCEL FONDEUR hINGRID CRUZ
          gJAIME GOMEZ <br>dDESIGNER NAME eEDITORS NAME f  DESIGNERS NAME g  CINEMATOGRAPHER
          p  EX PRODUCER 1 EX PRODUCER 2 j  PRODUCER ONE PRODUCER 2 m STORY WRITER
          o  SCREEN WRITER k  DIRECTOR NAME
          </p>
          <a href="/homepage">Homepage</a>
        </div>
      </div>
    </div>

  </div>
</div>
