  <title>{{ .Site.Params.Title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="google-site-verification" content="LCb6LYjXbPXIDwyvXwJd-p7GjmnaPZ_rYltWdWFnZGE" />
  <meta name="{{ .Site.Params.Description }}" content="LA RAZANTE es una película que narra un drama común no solo en sociedades como las de República Dominicana sino en cualquier parte del mundo">
  <meta name="keywords" content="movie, la rasante, pelicula, dominican republic">
  <meta name="{{ .Site.Params.Author }}" content="INSULA | DIGITAL STUDIO">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108384646-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-108384646-3');
  </script>
  <meta name="google-site-verification" content="LCb6LYjXbPXIDwyvXwJd-p7GjmnaPZ_rYltWdWFnZGE" />

  <!-- bootstrap 4 -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/main.css">

  <!-- Font Awesome -->
  <script src="https://use.fontawesome.com/b0a28cb416.js"></script>

  <!-- Slick -->
  <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/slick.css"/>
  <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/slick-theme.css"/>

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans:800|Roboto" rel="stylesheet">
