<div class="container-fluid" id="index-footer">
  <div class="index-footer-container">
    <div class="index-footer-content">
      <div class="image-container">
        <img src="../img/pg.svg" alt="">
      </div>
      <div class="index-footer">
        <a href="/homepage">
          <button type="button" id="button-movie" class="custom-btn">
            <div class="btn-icon">
              <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </div>
            <div class="btn-content">
              <p>Entra Website</p>
            </div>
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
