<div class="container-fluid" id="scene">
  <div class="introduction-container" id="scene-1" data-depth="0.02">

    <div class="introduction-content">
      <div class="introduction-title">
        <p>“ES MEJOR SER ODIADO POR LO QUE ERES <br>QUE SER AMADO POR LO QUE NO ERES”
          <br><span>André Gide, escritor francés, Premio Nobel de Literatura en 1947</span></p>
      </div>
      <div class="introduction-footer">
        <div class="credits">
        <!--<p>RAZANTE FILMS SRL Ã<br> LA RAZANTE kHANS GARCIA aMARCEL FONDEUR hINGRID CRUZ
          gJAIME GOMEZ <br>dDESIGNER NAME eEDITORS NAME f  DESIGNERS NAME g  CINEMATOGRAPHER
          p  EX PRODUCER 1 EX PRODUCER 2 j  PRODUCER ONE PRODUCER 2 m STORY WRITER
          o  SCREEN WRITER k  DIRECTOR NAME
        </p>-->
        </div>
      </div>
    </div>

  </div>
  <div id="scene-2" data-depth="0"></div>
  <div id="scene-3" data-depth="0"></div>
</div>
