<div class="container-fluid" id="movie">
  <div class="container">
    <div class="content">
      <div class="col-center">
        <h2>LA PELICULA</h2>
        <p class="col-text">LA RAZANTE es una película que narra un drama común no solo en sociedades como las de República Dominicana sino en cualquier parte del mundo, es la historia del abandono que sufren muchos niños, padres que se ausentan dejando todo el peso de la crianza a las madres y que estas siempre con la esperanza contribuyen a que estos niños abandonados idealicen al padre ausente. Esta película es la lucha entre el orgullo y la necesidad, la obligación de buscar un padre que por mas de 20 años no volvió, sin saber su hijo si por verguenza o por desidia.</p>
        <button type="button" id="button-movie" class="custom-btn" data-toggle="modal" data-target="#movie_modal">
          <div class="btn-icon">
            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
          </div>
          <div class="btn-content">
            <p>DESCUBRE MAS</p>
          </div>
        </button>
        {{ partial "movie_modal.html" }}
      </div>
    </div>
  </div>
</div>
