<!-- Modal -->
<div class="modal fade" id="movie_modal" tabindex="-1" role="dialog" aria-labelledby="movie_modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">La Pelicula</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        LA RAZANTE es una película que narra
        un drama común no solo en sociedades
        como las de República Dominicana sino
        en cualquier parte del mundo, es la
        historia del abandono que sufren muchos
        niños, padres que se ausentan dejando
        todo el peso de la crianza a las madres y
        que estas siempre con la esperanza
        contribuyen a que estos niños
        abandonados idealicen al padre ausente.<br><br>
        Esta película es la lucha entre el orgullo
        y la necesidad, la obligación de buscar
        un padre que por mas de 20 años no
        volvió, sin saber su hijo si por verguenza
        o por desidia.<br><br>
        En esta película tambien se muestra un
        paisaje de la República Dominicana
        diferente al que vendemos usualmente y
        donde se muestra una realidad que
        estando a la vista de todos se hace poco
        para evitarla.<br><br>
        La otra cara de la República Dominicana
        donde la depredación de los recursos
        naturales ha ido mermando los ríos y
        bosques convirtiendo parte del país en
        una zona inhóspita.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
