<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#sipnosis">Sipnosis</a>
  <a href="#movie">La Pelicula</a>
  <a href="#crew_member">Cast & Crew</a>
  <a href="#our_vision">Nuestra Vision</a>
  <a href="#trailer_vc">Voces de la Calle</a>
  <a href="#awards">Reconocimientos</a>
  <a href="#credits">Creditos</a>
</div>

<!-- Use any element to open the sidenav -->
<span onclick="openNav()" class="navbar-icon"><i class="fa fa-2x fa-bars" aria-hidden="true"></i></span>
