<div class="container-fluid" id="our_vision">
  <div class="container">
    <div class="content">
      <div class="col-left">
        <h2>NUESTRA VISION</h2>
        <p class="col-text">Corrian los años 70s y era común ver los
        niños corretear cuando veían un avión
        sobrevolando nuestro barrio gritando
        que ahí iba su papa…</p>
        <button type="button" id="button-movie" class="custom-btn" data-toggle="modal" data-target="#our_vision_modal">
          <div class="btn-icon">
            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
          </div>
          <div class="btn-content">
            <p>DESCUBRE MAS</p>
          </div>
        </button>
        {{ partial "our_vision_modal.html" }}
      </div>
    </div>
  </div>
</div>
