<div class="container-fluid" id="sipnosis">
  <div class="container">
    <div class="sipnosis-content">
      <div class="sipnosis-left">
        <h2>SIPNOSIS</h2>
        <p class="sipnosis-text">Raúl luego de la muerte de su madre, trata de
        localizar a su padre para resolver un problema
        legal con una propiedad, lo encuentra en un
        pueblo lejano, casado y tras 20 años sin verse
        empiezan una relación afectuosa que
        inesperadamente termina mal.</p>
        <button type="button" class="custom-btn" data-toggle="modal" data-target="#exampleModalLong">
          <div class="btn-icon">
            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
          </div>
          <div class="btn-content">
            <p>LEE MAS</p>
          </div>
        </button>
        {{ partial "sipnosis_modal.html" }}
      </div>
      <div class="sipnosis-right">
        <div class="img-1"></div>
        <div class="img-2"></div>
      </div>
    </div>
  </div>
</div>
