<div class="container-fluid" id="trailer_vc">
  <div class="container">
    <div class="content">
      <div class="col-left">
        <div class="container-video">
          <h2>Voces de la Calle</h2>
          <div class="rating">
            <div class="stars">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
            </div>
            <p class="year">2015</p>
            <p class="type">Action | Drama | Music</p>
            <a href="http://www.imdb.com/title/tt6390900/" target="_blank"><img src="/img/imdb.svg" alt="IMDB icon"></a>
          </div>
          <p class="video-caption">Voces de la Calle es una película musical, cuenta la historia de tres amigos que quieren salir adelante a traves de un proyecto de música urbana, es la historia de Lucho, Víctor y Carlos, tres jóvenes que ponen a prueba su lealtad y el deseo de superación tratando de perseguir sus sueños.</p>
          <div class="starting-container">
            <p class="starting">Starting by:</p>
            <p class="sub">Vladimir Acevedo, El Alfa, La Nueva Escuela, Melymel, entre otros...</p>
          </div>
          <div class="directed-container">
            <p class="directed">Directed by: </p>
            <p class="sub">Hans Garcia</p>
          </div>
        </div>
      </div>
      <div class="col-right">
        <button type="button" id="trailer_vc_movie" class="custom-btn" data-toggle="modal" data-target="#voces_modal">
          <div class="btn-icon">
            <i class="fa fa-5x fa-play-circle" aria-hidden="true"></i>
          </div>
        </button>
        {{ partial "trailer_vc_modal.html" }}
      </div>
    </div>
  </div>
</div>
