<!-- Modal -->
<div class="modal fade" id="voces_modal" tabindex="-1" role="dialog" aria-labelledby="voces_modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="voces-modal-button" data-dismiss="modal" onClick="toggleVideo('stop');" ><i class="fa fa-2x fa-times" aria-hidden="true"></i></button>
      <iframe id="trailer_voces" src="https://www.youtube.com/embed/tojgJx_dUiw" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    </div>
  </div>
</div>
